* {
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
}

.Navbar {
    padding: 10px;
    display: flex;
}

.Navbar img {
    height: 60px;
    margin-right: auto;
}

.Credits {
    display: flex;
    align-items: center;
    padding-right: 10px;
    border-right: 1px solid #ccc;
}

.BobVanDenBerge {
    background-color: white; 
}

.menu{
    margin: 10px;
}

.Sidebar {
    width: 64px;
    background-color: #132732;
    height: calc(100% - 50px);
    position: fixed;
    padding-top: 10px;
    }

.Sidebar i {
    display: block;
    text-align: center;
    padding: 16px;
    color: white;
}

.Sidebar i:hover {
    background-color: #264e63;
    cursor: pointer;
}


.titel {
    margin-left: 64px;
    background-color: #1c96a3;
    padding: 60px 25px;
    color: white;
}

.titel h1 {
    font-size: 40px;
}

.info-area {
    margin-left: 65px;
}

.info-area table {
    margin: 10px;

}

.info-area td {
    padding: 15px;
   border-bottom: 1px solid #ccc;
   padding-right: 20em;
}

.info-area th {
    text-align: left;
    padding: 10px;
    color: grey;
}